<div class="footer-container">
  <footer class="primary">
    <section class="footer-col-wide">
      <h4 class=tk-alwyn-new">Get In Touch</h4>
      <p>
        Get in touch with us today for a free consolutation to discuss your project needs and launch your ideas into the real world.
      </p>
      <p>
        <b>(970) 372-6691</b>
        <br />
        <a href="mailto:info@bz-labs.com">info@bz-labs.com</a>
      </p>
    <section>
    <div class="clear"></div>
  </footer>
</div>
<div class="sub-footer-container">
  <footer class="sub">
    <p class="blue" style="padding-right: 28px; background: url(<%= image_path 'bzlabs-logo-small.png' %>) right 3px no-repeat;">
      [Bz] Fusion of development elements.
      Copyright &copy; BZ Holdings LLC. All rights reserved.
    </p>
  </footer>
</div>

