<%= content_for(:after_header) do %>
  <div class="content-top-container">
    <div class="content-top">
      <h1 class="tk-alwyn-new thin">Suppliers of laboratory-grade</h1>
      <h2 class+"tk-alwyn-new">Scalable App Development</h2>
    </div>
  </div>
<% end %>

<section class="content-col">
  <h3 class="tk-alwyn-new red">Development Elements</h3>
  <p>
    Design, development, testing, deployment. Whatever combination you need, we're excited to work with you across the whole spectrum of web development.
  </p>
</section>

<section class="content-col last">
  <h3 class="tk-alwyn-new">Services</h3>
  <p>
    Hosting your application with the people who build it makes a whole lot of sense. Our managed cloud deployment lets you rest assured that your app is running smoothly and continuously in a secure environment.
  </p>
</section>
<div class="clear"></div>

